*{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: black;
}
body{}
   

a {
    text-decoration: none;

}
ul{
    list-style: none;
}
/*------------------ SECCIÓN CABECERA ------------------*/
#inicio{
    width: 100vw;
    height: 100vh;
}
.navegador{
    
}
.container-header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    width: 15%;
}
.menu{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}
.registro{
    display: flex;
    justify-content: space-around;
    width: 45%;
   
}
.login{
    background-color: black;
    padding: 15px 32px;
    font-size: 0.5rem;
    color: white;
    
}
.iniciob{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.belleza{
   width: 100%;
    align-items: center;
    justify-content: center;
}
.ini{
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    margin-left: 4rem;

    
}
.imagen-belleza{
    display: flex;
    width: 50%;
    justify-content: flex-end;

}
.imagen-belleza img {
    width: 60%;
  
}
.icon-menu{
    font-size: 3rem;
    color: black;
    display: none!important;
 }


/*------------------ SECCIÓN CURSOS ------------------*/

.c-cursos{
    width: 100vw;
    height: 100vh;
}
.unias{
    width: 13rem;
}
div.gallery{
    border: 1px solid #ccc;
    float: left;
    width: 13rem;
}
div.desc{
    padding: 15px;
    text-align:center;
}
/*------------------ SECCIÓN BLOG ------------------*/

/*------------------ SECCIÓN TURNOS ------------------*/



/*------------------ SECCIÓN INSUMOS ------------------*/

/*------------------ SECCIÓN INICIO DE SESIÓN ------------------*/
#log-inin{
    width: 100vw;
    height: 100vh;
}
#log-inre{
    width: 100vw;
    height: 100vh;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.recuadro-login {
    width: 50%;
    height: 60%;
    background-color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 18px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 18px -3px rgba(0, 0, 0, 0.75);
}

.container-form {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.container-input {
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    color: #FFF;
    margin-bottom: 5px;
    width: 70%;
}

input {
    width: 70%;
    border-radius: 20px;
    height: 40px;
    border: none;
    padding: 0 20px;
}

.in {
  
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: 16px;
    margin-top: 20px;
    background-color: rgb(46,153,222);
    color: white;
    border: none;
    height: 45px;
    width: 50%;
    border-radius: 25px;
}


/*------------------ SECCIÓN CONTACTO ------------------*/
.contacto{
    width: 100vw;
   
}

.list-contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
/*------------------ MEDIA QUERIS ------------------*/
@media (max-width: 700px){
    
    .menu{
        display:none;
    }
    .registro{
        display: none;
    }
    .icon-menu{
        display: inline-block!important;
    }
    .iniciob{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .imagen-belleza{
        width: 100%;
        justify-content: flex-end;
    }
    .c-cursos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .list-contact{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .recuadro-login {
        width: 80%;
      
    }
    .container-form {
        width: 80%;
    }
    label {
        color: #FFF;
        margin-bottom: 5px;
        width: 80%;
    }
    
    input {
        width: 80%;
        border-radius: 20px;
        height: 40px;
        border: none;
        padding: 0 20px;
    }
    
    .in {
      
        font-weight: 600;
        letter-spacing: 0.6px;
        font-size: 16px;
        margin-top: 20px;
        background-color: rgb(46,153,222);
        color: white;
        border: none;
        height: 45px;
        width: 50%;
        border-radius: 25px;
    }
   
}

